body { 
    background-image: url("../Artboard\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF5733;
  }


      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        background: transparent;
        margin-top: 2rem;
      }

      .text-content {
        position: absolute;
        display: inline-block;
        margin: 0;
        width: 50px;
        max-width:250px;
        right: 0px;
        top: 50%;
        padding: 5px;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
      }
