body { 
    background-image: url("../Artboard\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }


      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        background: transparent;
        margin-top: 1rem;
      }

      .navbar-collapse {
        left: 10px;
      }

      .text-content {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        padding: 5px;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        z-index: 200;
        
      }
